<app-navbar></app-navbar>
<main id="main">
  <section id="hero"><app-carasoul></app-carasoul></section>
  <section id="about" class="about"><app-about></app-about></section>
  <section id="services" class="services"><app-services></app-services></section>
  <section id="portfolio" class="portfolio"><app-portfolio></app-portfolio></section>
  <section id="pricing" class="pricing"><app-pricing></app-pricing></section>
  <section id="faq" class="faq"><app-faq></app-faq></section>
  <section id="team" class="team"><app-team></app-team></section>
  <section id="contact" class="contact"><app-contactus></app-contactus></section>
</main>
<app-footer></app-footer>
<router-outlet></router-outlet>